In [1]:
from acquire import get_titanic_data
from acquire import get_iris_data
from acquire import get_telco_data

# 4.In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

    print the first 3 rows
    print the number of rows and columns (shape)
    print the column names
    print the data type of each column
    print the summary statistics for each of the numeric variables

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pydataset import data
from env import host, username, password

get_db_url = f'mysql+pymysql://{username}:{password}@{host}/employees'
df = data('iris')

ModuleNotFoundError: No module named 'pydataset'

In [3]:
print(df.head(3))
print(df.shape)
print(df.columns)
print(df.dtypes)
print(df.describe())

NameError: name 'df' is not defined

# 5.Read the data from this google sheet into a dataframe, df_google.

    print the first 3 rows
    print the number of rows and columns
    print the column names
    print the data type of each column
    print the summary statistics for each of the numeric variables
    print the unique values for each of your categorical variables

In [16]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
csv_export_url

'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/export?format=csv&gid=341089357'

In [17]:
df_google = pd.read_csv(csv_export_url)
df_google.head(3)
print(df_google.shape)
print(df_google.columns)
print(df_google.dtypes)
print(df_google.describe())
print(df_google.nunique())

(891, 12)
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

# 6.Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

    assign the first 100 rows to a new dataframe, df_excel_sample
    print the number of rows of your original dataframe
    print the first 5 column names
    print the column names that have a data type of object
    compute the range for each of the numeric variables.

In [18]:
df_google.to_excel('google_sheet.xlsx')
df_excel = pd.read_excel('google_sheet.xlsx')

df_excel_sample = df_excel.head(100)
print(df_excel.shape)
print(df_excel.columns[0:5])
print(df_excel.select_dtypes('object').columns)
print(df_excel.describe())

(891, 13)
Index(['Unnamed: 0', 'PassengerId', 'Survived', 'Pclass', 'Name'], dtype='object')
Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')
       Unnamed: 0  PassengerId    Survived      Pclass         Age  \
count  891.000000   891.000000  891.000000  891.000000  714.000000
mean   445.000000   446.000000    0.383838    2.308642   29.699118
std    257.353842   257.353842    0.486592    0.836071   14.526497
min      0.000000     1.000000    0.000000    1.000000    0.420000
25%    222.500000   223.500000    0.000000    2.000000   20.125000
50%    445.000000   446.000000    0.000000    3.000000   28.000000
75%    667.500000   668.500000    1.000000    3.000000   38.000000
max    890.000000   891.000000    1.000000    3.000000   80.000000

            SibSp       Parch        Fare
count  891.000000  891.000000  891.000000
mean     0.523008    0.381594   32.204208
std      1.102743    0.806057   49.693429
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    7.910400
50%      0.000000    0.000000   14.454200
75%      1.000000    0.000000   31.000000
max      8.000000    6.000000  512.329200

In [19]:
df_excel.describe().loc['max'] - df_excel.describe().loc['min']

Unnamed: 0     890.0000
PassengerId    890.0000
Survived         1.0000
Pclass           2.0000
Age             79.5800
SibSp            8.0000
Parch            6.0000
Fare           512.3292
dtype: float64

In [20]:

SQL_query = 'select c.*, ct.*, ist.*, pt.*\
from customers c\
join contract_types ct on c.contract_type_id = ct.contract_type_id\
join internet_service_types ist on c.internet_service_type_id = ist.internet_service_type_id\
join payment_types pt on c.payment_type_id = pt.payment_type_id'

directory = "/Users/nathanieldewald/codeup-data-science/classification-exercises/"

In [24]:
df_telco = get_telco_data(SQL_query, directory)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'contract_types ct on c.contract_type_id = ct.contract_type_idjoin internet_servi' at line 1")
[SQL: select c.*, ct.*, ist.*, pt.*from customers cjoin contract_types ct on c.contract_type_id = ct.contract_type_idjoin internet_service_types ist on c.internet_service_type_id = ist.internet_service_type_idjoin payment_types pt on c.payment_type_id = pt.payment_type_id]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
SQL_query = "select * from passengers"
directory = "/Users/nathanieldewald/codeup-data-science/classification-exercises/"

In [ ]:

titanic = get_titanic_data(SQL_query, directory)

In [ ]:
titanic.head()

new mac test