In [1]:
import acquire
from sklearn.model_selection import train_test_split

# 4.In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

    print the first 3 rows
    print the number of rows and columns (shape)
    print the column names
    print the data type of each column
    print the summary statistics for each of the numeric variables

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pydataset import data

In [3]:
df = acquire.get_iris_data()
print(df.head(3))
print(df.shape)
print(df.columns)
print(df.dtypes)
print(df.describe())

csv file found and loaded
   species_id  measurement_id  sepal_length  sepal_width  petal_length  \
0           1               1           5.1          3.5           1.4
1           1               2           4.9          3.0           1.4
2           1               3           4.7          3.2           1.3

   petal_width species_name
0          0.2       setosa
1          0.2       setosa
2          0.2       setosa
(150, 7)
Index(['species_id', 'measurement_id', 'sepal_length', 'sepal_width',
       'petal_length', 'petal_width', 'species_name'],
      dtype='object')
species_id          int64
measurement_id      int64
sepal_length      float64
sepal_width       float64
petal_length      float64
petal_width       float64
species_name       object
dtype: object
       species_id  measurement_id  sepal_length  sepal_width  petal_length  \
count  150.000000      150.000000    150.000000   150.000000    150.000000
mean     2.000000       75.500000      5.843333     3.057333      3.758000
std      0.819232       43.445368      0.828066     0.435866      1.765298
min      1.000000        1.000000      4.300000     2.000000      1.000000
25%      1.000000       38.250000      5.100000     2.800000      1.600000
50%      2.000000       75.500000      5.800000     3.000000      4.350000
75%      3.000000      112.750000      6.400000     3.300000      5.100000
max      3.000000      150.000000      7.900000     4.400000      6.900000

       petal_width
count   150.000000
mean      1.199333
std       0.762238
min       0.100000
25%       0.300000
50%       1.300000
75%       1.800000
max       2.500000

# 5.Read the data from this google sheet into a dataframe, df_google.

    print the first 3 rows
    print the number of rows and columns
    print the column names
    print the data type of each column
    print the summary statistics for each of the numeric variables
    print the unique values for each of your categorical variables

In [4]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
csv_export_url

'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/export?format=csv&gid=341089357'

In [5]:
df_google = pd.read_csv(csv_export_url)
df_google.head(3)
print(df_google.shape)
print(df_google.columns)
print(df_google.dtypes)
print(df_google.describe())
print(df_google.nunique())

(891, 12)
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

# 6.Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

    assign the first 100 rows to a new dataframe, df_excel_sample
    print the number of rows of your original dataframe
    print the first 5 column names
    print the column names that have a data type of object
    compute the range for each of the numeric variables.

In [6]:
df_google.to_excel('google_sheet.xlsx')
df_excel = pd.read_excel('google_sheet.xlsx')

df_excel_sample = df_excel.head(100)
print(df_excel.shape)
print(df_excel.columns[0:5])
print(df_excel.select_dtypes('object').columns)
print(df_excel.describe())

(891, 13)
Index(['Unnamed: 0', 'PassengerId', 'Survived', 'Pclass', 'Name'], dtype='object')
Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')
       Unnamed: 0  PassengerId    Survived      Pclass         Age  \
count  891.000000   891.000000  891.000000  891.000000  714.000000
mean   445.000000   446.000000    0.383838    2.308642   29.699118
std    257.353842   257.353842    0.486592    0.836071   14.526497
min      0.000000     1.000000    0.000000    1.000000    0.420000
25%    222.500000   223.500000    0.000000    2.000000   20.125000
50%    445.000000   446.000000    0.000000    3.000000   28.000000
75%    667.500000   668.500000    1.000000    3.000000   38.000000
max    890.000000   891.000000    1.000000    3.000000   80.000000

            SibSp       Parch        Fare
count  891.000000  891.000000  891.000000
mean     0.523008    0.381594   32.204208
std      1.102743    0.806057   49.693429
min      0.000000    0.000000    0.000000
25%      0.000000    0.000000    7.910400
50%      0.000000    0.000000   14.454200
75%      1.000000    0.000000   31.000000
max      8.000000    6.000000  512.329200

In [7]:
df_excel.describe().loc['max'] - df_excel.describe().loc['min']

Unnamed: 0     890.0000
PassengerId    890.0000
Survived         1.0000
Pclass           2.0000
Age             79.5800
SibSp            8.0000
Parch            6.0000
Fare           512.3292
dtype: float64

In [8]:
df_telco = acquire.get_telco_churn()

csv file found and loaded

In [9]:
df_telco.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [10]:
titanic = acquire.get_titanic_data()

csv file found and loaded

In [11]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

Using the Iris Data:

Use the function defined in acquire.py to load the iris data.

Drop the species_id and measurement_id columns.

Rename the species_name column to just species.

Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [12]:
iris = acquire.get_iris_data()

csv file found and loaded

In [13]:
iris.head()

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa

In [14]:
iris = iris.drop(columns=['species_id', 'measurement_id'])

In [15]:
iris = iris.rename(columns={'species_name': 'species'})

In [16]:
num=iris.select_dtypes(include="number")
char=iris.select_dtypes(include="object")

In [17]:
num.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
dtype: object

In [18]:
char_dummy = pd.get_dummies(char)
char =pd.concat([char, char_dummy], axis=1)
char

        species  species_setosa  species_versicolor  species_virginica
0        setosa               1                   0                  0
1        setosa               1                   0                  0
2        setosa               1                   0                  0
3        setosa               1                   0                  0
4        setosa               1                   0                  0
5        setosa               1                   0                  0
6        setosa               1                   0                  0
7        setosa               1                   0                  0
8        setosa               1                   0                  0
9        setosa               1                   0                  0
10       setosa               1                   0                  0
11       setosa               1                   0                  0
12       setosa               1                   0                  0
13       setosa               1                   0                  0
14       setosa               1                   0                  0
15       setosa               1                   0                  0
16       setosa               1                   0                  0
17       setosa               1                   0                  0
18       setosa               1                   0                  0
19       setosa               1                   0                  0
20       setosa               1                   0                  0
21       setosa               1                   0                  0
22       setosa               1                   0                  0
23       setosa               1                   0                  0
24       setosa               1                   0                  0
25       setosa               1                   0                  0
26       setosa               1                   0                  0
27       setosa               1                   0                  0
28       setosa               1                   0                  0
29       setosa               1                   0                  0
30       setosa               1                   0                  0
31       setosa               1                   0                  0
32       setosa               1                   0                  0
33       setosa               1                   0                  0
34       setosa               1                   0                  0
35       setosa               1                   0                  0
36       setosa               1                   0                  0
37       setosa               1                   0                  0
38       setosa               1                   0                  0
39       setosa               1                   0                  0
40       setosa               1                   0                  0
41       setosa               1                   0                  0
42       setosa               1                   0                  0
43       setosa               1                   0                  0
44       setosa               1                   0                  0
45       setosa               1                   0                  0
46       setosa               1                   0                  0
47       setosa               1                   0                  0
48       setosa               1                   0                  0
49       setosa               1                   0                  0
50   versicolor               0                   1                  0
51   versicolor               0                   1                  0
52   versicolor               0                   1                  0
53   versicolor               0                   1                  0
54   versicolor               0                   1                  0
55   versicolor               0                   1                  0
56   versicolor               0                   1                  0
57   versicolor               0                   1                  0
58   versicolor               0                   1                  0
59   versicolor               0                   1                  0
60   versicolor               0                   1                  0
61   versicolor               0                   1                  0
62   versicolor               0                   1                  0
63   versicolor               0                   1                  0
64   versicolor               0                   1                  0
65   versicolor               0                   1                  0
66   versicolor               0                   1                  0
67   versicolor               0                   1                  0
68   versicolor               0                   1                  0
69   versicolor               0                   1                  0
70   versicolor               0                   1                  0
71   versicolor               0                   1                  0
72   versicolor               0                   1                  0
73   versicolor               0                   1                  0
74   versicolor               0                   1                  0
75   versicolor               0                   1                  0
76   versicolor               0                   1                  0
77   versicolor               0                   1                  0
78   versicolor               0                   1                  0
79   versicolor               0                   1                  0
80   versicolor               0                   1                  0
81   versicolor               0                   1                  0
82   versicolor               0                   1                  0
83   versicolor               0                   1                  0
84   versicolor               0                   1                  0
85   versicolor               0                   1                  0
86   versicolor               0                   1                  0
87   versicolor               0                   1                  0
88   versicolor               0                   1                  0
89   versicolor               0                   1                  0
90   versicolor               0                   1                  0
91   versicolor               0                   1                  0
92   versicolor               0                   1                  0
93   versicolor               0                   1                  0
94   versicolor               0                   1                  0
95   versicolor               0                   1                  0
96   versicolor               0                   1                  0
97   versicolor               0                   1                  0
98   versicolor               0                   1                  0
99   versicolor               0                   1                  0
100   virginica               0                   0                  1
101   virginica               0                   0                  1
102   virginica               0                   0                  1
103   virginica               0                   0                  1
104   virginica               0                   0                  1
105   virginica               0                   0                  1
106   virginica               0                   0                  1
107   virginica               0                   0                  1
108   virginica               0                   0                  1
109   virginica               0                   0                  1
110   virginica               0                   0                  1
111   virginica               0                   0                  1
112   virginica               0                   0                  1
113   virginica               0                   0                  1
114   virginica               0                   0                  1
115   virginica               0                   0                  1
116   virginica               0                   0                  1
117   virginica               0                   0                  1
118   virginica               0                   0                  1
119   virginica               0                   0                  1
120   virginica               0                   0                  1
121   virginica               0                   0                  1
122   virginica               0                   0                  1
123   virginica               0                   0                  1
124   virginica               0                   0                  1
125   virginica               0                   0                  1
126   virginica               0                   0                  1
127   virginica               0                   0                  1
128   virginica               0                   0                  1
129   virginica               0                   0                  1
130   virginica               0                   0                  1
131   virginica               0                   0                  1
132   virginica               0                   0                  1
133   virginica               0                   0                  1
134   virginica               0                   0                  1
135   virginica               0                   0                  1
136   virginica               0                   0                  1
137   virginica               0                   0                  1
138   virginica               0                   0                  1
139   virginica               0                   0                  1
140   virginica               0                   0                  1
141   virginica               0                   0                  1
142   virginica               0                   0                  1
143   virginica               0                   0                  1
144   virginica               0                   0                  1
145   virginica               0                   0                  1
146   virginica               0                   0                  1
147   virginica               0                   0                  1
148   virginica               0                   0                  1
149   virginica               0                   0                  1

In [19]:
iris_clean = pd.concat([num, char], axis=1)

In [20]:
iris_clean

,sepal_length,sepal_width,petal_length,petal_width,species,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,setosa,1,0,0
1,4.9,3.0,1.4,0.2,setosa,1,0,0
2,4.7,3.2,1.3,0.2,setosa,1,0,0
3,4.6,3.1,1.5,0.2,setosa,1,0,0
4,5.0,3.6,1.4,0.2,setosa,1,0,0
5,5.4,3.9,1.7,0.4,setosa,1,0,0
6,4.6,3.4,1.4,0.3,setosa,1,0,0
7,5.0,3.4,1.5,0.2,setosa,1,0,0
8,4.4,2.9,1.4,0.2,setosa,1,0,0
9,4.9,3.1,1.5,0.1,setosa,1,0,0
10,5.4,3.7,1.5,0.2,setosa,1,0,0
11,4.8,3.4,1.6,0.2,setosa,1,0,0
12,4.8,3.0,1.4,0.1,setosa,1,0,0
13,4.3,3.0,1.1,0.1,setosa,1,0,0
14,5.8,4.0,1.2,0.2,setosa,1,0,0
15,5.7,4.4,1.5,0.4,setosa,1,0,0
16,5.4,3.9,1.3,0.4,setosa,1,0,0
17,5.1,3.5,1.4,0.3,setosa,1,0,0
18,5.7,3.8,1.7,0.3,setosa,1,0,0
19,5.1,3.8,1.5,0.3,setosa,1,0,0
20,5.4,3.4,1.7,0.2,setosa,1,0,0
21,5.1,3.7,1.5,0.4,setosa,1,0,0
22,4.6,3.6,1.0,0.2,setosa,1,0,0
23,5.1,3.3,1.7,0.5,setosa,1,0,0
24,4.8,3.4,1.9,0.2,setosa,1,0,0
25,5.0,3.0,1.6,0.2,setosa,1,0,0
26,5.0,3.4,1.6,0.4,setosa,1,0,0
27,5.2,3.5,1.5,0.2,setosa,1,0,0
28,5.2,3.4,1.4,0.2,setosa,1,0,0
29,4.7,3.2,1.6,0.2,setosa,1,0,0
30,4.8,3.1,1.6,0.2,setosa,1,0,0
31,5.4,3.4,1.5,0.4,setosa,1,0,0
32,5.2,4.1,1.5,0.1,setosa,1,0,0
33,5.5,4.2,1.4,0.2,setosa,1,0,0
34,4.9,3.1,1.5,0.2,setosa,1,0,0
35,5.0,3.2,1.2,0.2,setosa,1,0,0
36,5.5,3.5,1.3,0.2,setosa,1,0,0
37,4.9,3.6,1.4,0.1,setosa,1,0,0
38,4.4,3.0,1.3,0.2,setosa,1,0,0
39,5.1,3.4,1.5,0.2,setosa,1,0,0
40,5.0,3.5,1.3,0.3,setosa,1,0,0
41,4.5,2.3,1.3,0.3,setosa,1,0,0
42,4.4,3.2,1.3,0.2,setosa,1,0,0
43,5.0,3.5,1.6,0.6,setosa,1,0,0
44,5.1,3.8,1.9,0.4,setosa,1,0,0
45,4.8,3.0,1.4,0.3,setosa,1,0,0
46,5.1,3.8,1.6,0.2,setosa,1,0,0
47,4.6,3.2,1.4,0.2,setosa,1,0,0
48,5.3,3.7,1.5,0.2,setosa,1,0,0
49,5.0,3.3,1.4,0.2,setosa,1,0,0
50,7.0,3.2,4.7,1.4,versicolor,0,1,0
51,6.4,3.2,4.5,1.5,versicolor,0,1,0
52,6.9,3.1,4.9,1.5,versicolor,0,1,0
53,5.5,2.3,4.0,1.3,versicolor,0,1,0
54,6.5,2.8,4.6,1.5,versicolor,0,1,0
55,5.7,2.8,4.5,1.3,versicolor,0,1,0
56,6.3,3.3,4.7,1.6,versicolor,0,1,0
57,4.9,2.4,3.3,1.0,versicolor,0,1,0
58,6.6,2.9,4.6,1.3,versicolor,0,1,0
59,5.2,2.7,3.9,1.4,versicolor,0,1,0
60,5.0,2.0,3.5,1.0,versicolor,0,1,0
61,5.9,3.0,4.2,1.5,versicolor,0,1,0
62,6.0,2.2,4.0,1.0,versicolor,0,1,0
63,6.1,2.9,4.7,1.4,versicolor,0,1,0
64,5.6,2.9,3.6,1.3,versicolor,0,1,0
65,6.7,3.1,4.4,1.4,versicolor,0,1,0
66,5.6,3.0,4.5,1.5,versicolor,0,1,0
67,5.8,2.7,4.1,1.0,versicolor,0,1,0
68,6.2,2.2,4.5,1.5,versicolor,0,1,0
69,5.6,2.5,3.9,1.1,versicolor,0,1,0
70,5.9,3.2,4.8,1.8,versicolor,0,1,0
71,6.1,2.8,4.0,1.3,versicolor,0,1,0
72,6.3,2.5,4.9,1.5,versicolor,0,1,0
73,6.1,2.8,4.7,1.2,versicolor,0,1,0
74,6.4,2.9,4.3,1.3,versicolor,0,1,0
75,6.6,3.0,4.4,1.4,versicolor,0,1,0
76,6.8,2.8,4.8,1.4,versicolor,0,1,0
77,6.7,3.0,5.0,1.7,versicolor,0,1,0
78,6.0,2.9,4.5,1.5,versicolor,0,1,0
79,5.7,2.6,3.5,1.0,versicolor,0,1,0
80,5.5,2.4,3.8,1.1,versicolor,0,1,0
81,5.5,2.4,3.7,1.0,versicolor,0,1,0
82,5.8,2.7,3.9,1.2,versicolor,0,1,0
83,6.0,2.7,5.1,1.6,versicolor,0,1,0
84,5.4,3.0,4.5,1.5,versicolor,0,1,0
85,6.0,3.4,4.5,1.6,versicolor,0,1,0
86,6.7,3.1,4.7,1.5,versicolor,0,1,0
87,6.3,2.3,4.4,1.3,versicolor,0,1,0
88,5.6,3.0,4.1,1.3,versicolor,0,1,0
89,5.5,2.5,4.0,1.3,versicolor,0,1,0
90,5.5,2.6,4.4,1.2,versicolor,0,1,0
91,6.1,3.0,4.6,1.4,versicolor,0,1,0
92,5.8,2.6,4.0,1.2,versicolor,0,1,0
93,5.0,2.3,3.3,1.0,versicolor,0,1,0
94,5.6,2.7,4.2,1.3,versicolor,0,1,0
95,5.7,3.0,4.2,1.2,versicolor,0,1,0
96,5.7,2.9,4.2,1.3,versicolor,0,1,0
97,6.2,2.9,4.3,1.3,versicolor,0,1,0
98,5.1,2.5,3.0,1.1,versicolor,0,1,0
99,5.7,2.8,4.1,1.3,versicolor,0,1,0
100,6.3,3.3,6.0,2.5,virginica,0,0,1
101,5.8,2.7,5.1,1.9,virginica,0,0,1
102,7.1,3.0,5.9,2.1,virginica,0,0,1
103,6.3,2.9,5.6,1.8,virginica,0,0,1
104,6.5,3.0,5.8,2.2,virginica,0,0,1
105,7.6,3.0,6.6,2.1,virginica,0,0,1
106,4.9,2.5,4.5,1.7,virginica,0,0,1
107,7.3,2.9,6.3,1.8,virginica,0,0,1
108,6.7,2.5,5.8,1.8,virginica,0,0,1
109,7.2,3.6,6.1,2.5,virginica,0,0,1
110,6.5,3.2,5.1,2.0,virginica,0,0,1
111,6.4,2.7,5.3,1.9,virginica,0,0,1
112,6.8,3.0,5.5,2.1,virginica,0,0,1
113,5.7,2.5,5.0,2.0,virginica,0,0,1
114,5.8,2.8,5.1,2.4,virginica,0,0,1
115,6.4,3.2,5.3,2.3,virginica,0,0,1
116,6.5,3.0,5.5,1.8,virginica,0,0,1
117,7.7,3.8,6.7,2.2,virginica,0,0,1
118,7.7,2.6,6.9,2.3,virginica,0,0,1
119,6.0,2.2,5.0,1.5,virginica,0,0,1
120,6.9,3.2,5.7,2.3,virginica,0,0,1
121,5.6,2.8,4.9,2.0,virginica,0,0,1
122,7.7,2.8,6.7,2.0,virginica,0,0,1
123,6.3,2.7,4.9,1.8,virginica,0,0,1
124,6.7,3.3,5.7,2.1,virginica,0,0,1
125,7.2,3.2,6.0,1.8,virginica,0,0,1
126,6.2,2.8,4.8,1.8,virginica,0,0,1
127,6.1,3.0,4.9,1.8,virginica,0,0,1
128,6.4,2.8,5.6,2.1,virginica,0,0,1
129,7.2,3.0,5.8,1.6,virginica,0,0,1
130,7.4,2.8,6.1,1.9,virginica,0,0,1
131,7.9,3.8,6.4,2.0,virginica,0,0,1
132,6.4,2.8,5.6,2.2,virginica,0,0,1
133,6.3,2.8,5.1,1.5,virginica,0,0,1
134,6.1,2.6,5.6,1.4,virginica,0,0,1
135,7.7,3.0,6.1,2.3,virginica,0,0,1
136,6.3,3.4,5.6,2.4,virginica,0,0,1
137,6.4,3.1,5.5,1.8,virginica,0,0,1
138,6.0,3.0,4.8,1.8,virginica,0,0,1
139,6.9,3.1,5.4,2.1,virginica,0,0,1
140,6.7,3.1,5.6,2.4,virginica,0,0,1
141,6.9,3.1,5.1,2.3,virginica,0,0,1
142,5.8,2.7,5.1,1.9,virginica,0,0,1
143,6.8,3.2,5.9,2.3,virginica,0,0,1
144,6.7,3.3,5.7,2.5,virginica,0,0,1
145,6.7,3.0,5.2,2.3,virginica,0,0,1
146,6.3,2.5,5.0,1.9,virginica,0,0,1
147,6.5,3.0,5.2,2.0,virginica,0,0,1
148,6.2,3.4,5.4,2.3,virginica,0,0,1
149,5.9,3.0,5.1,1.8,virginica,0,0,1

# Using the Telco dataset

# Use the function defined in acquire.py to load the Telco data.

# Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

# Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

# Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [28]:
telco = acquire.get_telco_churn()
telco = telco.drop(columns=['customer_id', 'payment_type_id', 'internet_service_type_id', 'contract_type_id'])
telco['senior_citizen'] = telco['senior_citizen'].replace({0: 'No', 1: 'Yes'})
telco

csv file found and loaded

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,Female,No,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,Male,No,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,Male,No,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,Male,Yes,Yes,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,Female,Yes,Yes,No,3,Yes,No,No,No,No,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Female,No,No,No,13,Yes,No,Yes,No,No,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,Male,No,Yes,No,22,Yes,Yes,No,No,No,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,Male,No,No,No,2,Yes,No,No,Yes,No,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,Male,No,Yes,Yes,67,Yes,No,Yes,No,Yes,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,Male,No,Yes,Yes,63,No,No phone service,Yes,Yes,Yes,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

In [30]:
telco['total_charges'] = telco['total_charges'].replace({' ': 0})
telco['total_charges'] = telco['total_charges'].astype('float')

In [31]:
num=telco.select_dtypes(include="number")
char=telco.select_dtypes(include="object")
char = pd.get_dummies(char, drop_first = True)
telco_clean = pd.concat([num, char], axis=1)
telco_clean

,tenure,monthly_charges,total_charges,gender_Male,senior_citizen_Yes,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_No phone service,multiple_lines_Yes,...,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,9,65.60,593.30,0,0,1,1,1,0,0,...,0,1,0,1,0,0,0,0,0,1
1,9,59.90,542.40,1,0,0,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
2,4,73.90,280.85,1,0,0,0,1,0,0,...,0,1,1,0,0,1,0,0,1,0
3,13,98.00,1237.85,1,1,1,0,1,0,0,...,1,1,1,0,0,1,0,0,1,0
4,3,83.90,267.40,0,1,1,0,1,0,0,...,0,1,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,13,55.15,742.90,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
7039,22,85.10,1873.70,1,0,1,0,1,0,1,...,1,1,1,0,0,1,0,0,1,0
7040,2,50.30,92.75,1,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
7041,67,67.85,4627.65,1,0,1,1,1,0,0,...,1,0,0,0,1,0,0,0,0,1
7042,63,59.00,3707.60,1,0,1,1,0,1,0,...,1,0,0,0,1,0,0,0,1,0

Split your data

Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

In [24]:
iris_clean

,sepal_length,sepal_width,petal_length,petal_width,species,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,setosa,1,0,0
1,4.9,3.0,1.4,0.2,setosa,1,0,0
2,4.7,3.2,1.3,0.2,setosa,1,0,0
3,4.6,3.1,1.5,0.2,setosa,1,0,0
4,5.0,3.6,1.4,0.2,setosa,1,0,0
5,5.4,3.9,1.7,0.4,setosa,1,0,0
6,4.6,3.4,1.4,0.3,setosa,1,0,0
7,5.0,3.4,1.5,0.2,setosa,1,0,0
8,4.4,2.9,1.4,0.2,setosa,1,0,0
9,4.9,3.1,1.5,0.1,setosa,1,0,0
10,5.4,3.7,1.5,0.2,setosa,1,0,0
11,4.8,3.4,1.6,0.2,setosa,1,0,0
12,4.8,3.0,1.4,0.1,setosa,1,0,0
13,4.3,3.0,1.1,0.1,setosa,1,0,0
14,5.8,4.0,1.2,0.2,setosa,1,0,0
15,5.7,4.4,1.5,0.4,setosa,1,0,0
16,5.4,3.9,1.3,0.4,setosa,1,0,0
17,5.1,3.5,1.4,0.3,setosa,1,0,0
18,5.7,3.8,1.7,0.3,setosa,1,0,0
19,5.1,3.8,1.5,0.3,setosa,1,0,0
20,5.4,3.4,1.7,0.2,setosa,1,0,0
21,5.1,3.7,1.5,0.4,setosa,1,0,0
22,4.6,3.6,1.0,0.2,setosa,1,0,0
23,5.1,3.3,1.7,0.5,setosa,1,0,0
24,4.8,3.4,1.9,0.2,setosa,1,0,0
25,5.0,3.0,1.6,0.2,setosa,1,0,0
26,5.0,3.4,1.6,0.4,setosa,1,0,0
27,5.2,3.5,1.5,0.2,setosa,1,0,0
28,5.2,3.4,1.4,0.2,setosa,1,0,0
29,4.7,3.2,1.6,0.2,setosa,1,0,0
30,4.8,3.1,1.6,0.2,setosa,1,0,0
31,5.4,3.4,1.5,0.4,setosa,1,0,0
32,5.2,4.1,1.5,0.1,setosa,1,0,0
33,5.5,4.2,1.4,0.2,setosa,1,0,0
34,4.9,3.1,1.5,0.2,setosa,1,0,0
35,5.0,3.2,1.2,0.2,setosa,1,0,0
36,5.5,3.5,1.3,0.2,setosa,1,0,0
37,4.9,3.6,1.4,0.1,setosa,1,0,0
38,4.4,3.0,1.3,0.2,setosa,1,0,0
39,5.1,3.4,1.5,0.2,setosa,1,0,0
40,5.0,3.5,1.3,0.3,setosa,1,0,0
41,4.5,2.3,1.3,0.3,setosa,1,0,0
42,4.4,3.2,1.3,0.2,setosa,1,0,0
43,5.0,3.5,1.6,0.6,setosa,1,0,0
44,5.1,3.8,1.9,0.4,setosa,1,0,0
45,4.8,3.0,1.4,0.3,setosa,1,0,0
46,5.1,3.8,1.6,0.2,setosa,1,0,0
47,4.6,3.2,1.4,0.2,setosa,1,0,0
48,5.3,3.7,1.5,0.2,setosa,1,0,0
49,5.0,3.3,1.4,0.2,setosa,1,0,0
50,7.0,3.2,4.7,1.4,versicolor,0,1,0
51,6.4,3.2,4.5,1.5,versicolor,0,1,0
52,6.9,3.1,4.9,1.5,versicolor,0,1,0
53,5.5,2.3,4.0,1.3,versicolor,0,1,0
54,6.5,2.8,4.6,1.5,versicolor,0,1,0
55,5.7,2.8,4.5,1.3,versicolor,0,1,0
56,6.3,3.3,4.7,1.6,versicolor,0,1,0
57,4.9,2.4,3.3,1.0,versicolor,0,1,0
58,6.6,2.9,4.6,1.3,versicolor,0,1,0
59,5.2,2.7,3.9,1.4,versicolor,0,1,0
60,5.0,2.0,3.5,1.0,versicolor,0,1,0
61,5.9,3.0,4.2,1.5,versicolor,0,1,0
62,6.0,2.2,4.0,1.0,versicolor,0,1,0
63,6.1,2.9,4.7,1.4,versicolor,0,1,0
64,5.6,2.9,3.6,1.3,versicolor,0,1,0
65,6.7,3.1,4.4,1.4,versicolor,0,1,0
66,5.6,3.0,4.5,1.5,versicolor,0,1,0
67,5.8,2.7,4.1,1.0,versicolor,0,1,0
68,6.2,2.2,4.5,1.5,versicolor,0,1,0
69,5.6,2.5,3.9,1.1,versicolor,0,1,0
70,5.9,3.2,4.8,1.8,versicolor,0,1,0
71,6.1,2.8,4.0,1.3,versicolor,0,1,0
72,6.3,2.5,4.9,1.5,versicolor,0,1,0
73,6.1,2.8,4.7,1.2,versicolor,0,1,0
74,6.4,2.9,4.3,1.3,versicolor,0,1,0
75,6.6,3.0,4.4,1.4,versicolor,0,1,0
76,6.8,2.8,4.8,1.4,versicolor,0,1,0
77,6.7,3.0,5.0,1.7,versicolor,0,1,0
78,6.0,2.9,4.5,1.5,versicolor,0,1,0
79,5.7,2.6,3.5,1.0,versicolor,0,1,0
80,5.5,2.4,3.8,1.1,versicolor,0,1,0
81,5.5,2.4,3.7,1.0,versicolor,0,1,0
82,5.8,2.7,3.9,1.2,versicolor,0,1,0
83,6.0,2.7,5.1,1.6,versicolor,0,1,0
84,5.4,3.0,4.5,1.5,versicolor,0,1,0
85,6.0,3.4,4.5,1.6,versicolor,0,1,0
86,6.7,3.1,4.7,1.5,versicolor,0,1,0
87,6.3,2.3,4.4,1.3,versicolor,0,1,0
88,5.6,3.0,4.1,1.3,versicolor,0,1,0
89,5.5,2.5,4.0,1.3,versicolor,0,1,0
90,5.5,2.6,4.4,1.2,versicolor,0,1,0
91,6.1,3.0,4.6,1.4,versicolor,0,1,0
92,5.8,2.6,4.0,1.2,versicolor,0,1,0
93,5.0,2.3,3.3,1.0,versicolor,0,1,0
94,5.6,2.7,4.2,1.3,versicolor,0,1,0
95,5.7,3.0,4.2,1.2,versicolor,0,1,0
96,5.7,2.9,4.2,1.3,versicolor,0,1,0
97,6.2,2.9,4.3,1.3,versicolor,0,1,0
98,5.1,2.5,3.0,1.1,versicolor,0,1,0
99,5.7,2.8,4.1,1.3,versicolor,0,1,0
100,6.3,3.3,6.0,2.5,virginica,0,0,1
101,5.8,2.7,5.1,1.9,virginica,0,0,1
102,7.1,3.0,5.9,2.1,virginica,0,0,1
103,6.3,2.9,5.6,1.8,virginica,0,0,1
104,6.5,3.0,5.8,2.2,virginica,0,0,1
105,7.6,3.0,6.6,2.1,virginica,0,0,1
106,4.9,2.5,4.5,1.7,virginica,0,0,1
107,7.3,2.9,6.3,1.8,virginica,0,0,1
108,6.7,2.5,5.8,1.8,virginica,0,0,1
109,7.2,3.6,6.1,2.5,virginica,0,0,1
110,6.5,3.2,5.1,2.0,virginica,0,0,1
111,6.4,2.7,5.3,1.9,virginica,0,0,1
112,6.8,3.0,5.5,2.1,virginica,0,0,1
113,5.7,2.5,5.0,2.0,virginica,0,0,1
114,5.8,2.8,5.1,2.4,virginica,0,0,1
115,6.4,3.2,5.3,2.3,virginica,0,0,1
116,6.5,3.0,5.5,1.8,virginica,0,0,1
117,7.7,3.8,6.7,2.2,virginica,0,0,1
118,7.7,2.6,6.9,2.3,virginica,0,0,1
119,6.0,2.2,5.0,1.5,virginica,0,0,1
120,6.9,3.2,5.7,2.3,virginica,0,0,1
121,5.6,2.8,4.9,2.0,virginica,0,0,1
122,7.7,2.8,6.7,2.0,virginica,0,0,1
123,6.3,2.7,4.9,1.8,virginica,0,0,1
124,6.7,3.3,5.7,2.1,virginica,0,0,1
125,7.2,3.2,6.0,1.8,virginica,0,0,1
126,6.2,2.8,4.8,1.8,virginica,0,0,1
127,6.1,3.0,4.9,1.8,virginica,0,0,1
128,6.4,2.8,5.6,2.1,virginica,0,0,1
129,7.2,3.0,5.8,1.6,virginica,0,0,1
130,7.4,2.8,6.1,1.9,virginica,0,0,1
131,7.9,3.8,6.4,2.0,virginica,0,0,1
132,6.4,2.8,5.6,2.2,virginica,0,0,1
133,6.3,2.8,5.1,1.5,virginica,0,0,1
134,6.1,2.6,5.6,1.4,virginica,0,0,1
135,7.7,3.0,6.1,2.3,virginica,0,0,1
136,6.3,3.4,5.6,2.4,virginica,0,0,1
137,6.4,3.1,5.5,1.8,virginica,0,0,1
138,6.0,3.0,4.8,1.8,virginica,0,0,1
139,6.9,3.1,5.4,2.1,virginica,0,0,1
140,6.7,3.1,5.6,2.4,virginica,0,0,1
141,6.9,3.1,5.1,2.3,virginica,0,0,1
142,5.8,2.7,5.1,1.9,virginica,0,0,1
143,6.8,3.2,5.9,2.3,virginica,0,0,1
144,6.7,3.3,5.7,2.5,virginica,0,0,1
145,6.7,3.0,5.2,2.3,virginica,0,0,1
146,6.3,2.5,5.0,1.9,virginica,0,0,1
147,6.5,3.0,5.2,2.0,virginica,0,0,1
148,6.2,3.4,5.4,2.3,virginica,0,0,1
149,5.9,3.0,5.1,1.8,virginica,0,0,1

In [25]:
train,validate, test = acquire.test_train(iris_clean, "species")
print(train.shape)
print(validate.shape)
print(test.shape)

(90, 8)
(30, 8)
(30, 8)

In [26]:
train,validate, test = acquire.test_train(titanic, "survived")
print(train.shape)
print(validate.shape)
print(test.shape)

(534, 13)
(178, 13)
(179, 13)

In [33]:
train, validate, test = acquire.test_train(telco_clean, "churn_Yes")
print(train.shape)
print(validate.shape)
print(test.shape)

(4225, 31)
(1409, 31)
(1409, 31)

In [34]:
acquire.prep_telco()

csv file found and loaded

,tenure,monthly_charges,total_charges,gender_Female,gender_Male,senior_citizen_No,senior_citizen_Yes,partner_No,partner_Yes,dependents_No,...,contract_type_Month-to-month,contract_type_One year,contract_type_Two year,internet_service_type_DSL,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Bank transfer (automatic),payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,9,65.60,593.30,1,0,1,0,0,1,0,...,0,1,0,1,0,0,0,0,0,1
1,9,59.90,542.40,0,1,1,0,1,0,1,...,1,0,0,1,0,0,0,0,0,1
2,4,73.90,280.85,0,1,1,0,1,0,1,...,1,0,0,0,1,0,0,0,1,0
3,13,98.00,1237.85,0,1,0,1,0,1,1,...,1,0,0,0,1,0,0,0,1,0
4,3,83.90,267.40,1,0,0,1,0,1,1,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,13,55.15,742.90,1,0,1,0,1,0,1,...,0,1,0,1,0,0,0,0,0,1
7039,22,85.10,1873.70,0,1,1,0,0,1,1,...,1,0,0,0,1,0,0,0,1,0
7040,2,50.30,92.75,0,1,1,0,1,0,1,...,1,0,0,1,0,0,0,0,0,1
7041,67,67.85,4627.65,0,1,1,0,0,1,0,...,0,0,1,1,0,0,0,0,0,1
7042,63,59.00,3707.60,0,1,1,0,0,1,0,...,0,0,1,1,0,0,0,0,1,0