In [59]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from pydataset import data

# 2.Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |
    * In the context of this problem, what is a false positive?
    * In the context of this problem, what is a false negative?
    * How would you describe this model?

# the false positive is when the model predicts a cat when it is actually a dog
# the false negative is when the model predicts a dog when it is actually a cat
# this model is good at predicting cats but not so good at predicting dogs

# 3.You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

## Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

## Use the predictions dataset and pandas to help answer the following questions:

- An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? ** recall **
    - Which model would be the best fit for this use case? model 3

   * Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect,
    and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck
    a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally
    give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? percision
    Which model would be the best fit for this use case? model 1

In [60]:
df = pd.read_csv('c3.csv')
df

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [61]:
# check for most common value
df.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [62]:
# baseline no_defect
df['baseline'] = 'no_defect'
df

        actual     model1     model2     model3   baseline
0    No Defect  No Defect     Defect  No Defect  no_defect
1    No Defect  No Defect     Defect     Defect  no_defect
2    No Defect  No Defect     Defect  No Defect  no_defect
3    No Defect     Defect     Defect     Defect  no_defect
4    No Defect  No Defect     Defect  No Defect  no_defect
..         ...        ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect  no_defect
196     Defect     Defect  No Defect  No Defect  no_defect
197  No Defect  No Defect  No Defect  No Defect  no_defect
198  No Defect  No Defect     Defect     Defect  no_defect
199  No Defect  No Defect  No Defect     Defect  no_defect

[200 rows x 5 columns]

In [63]:
pd.crosstab(df.actual, df.model1)

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [64]:
y_pred = df.model1
y_actual = df.actual
print(classification_report(y_actual, y_pred))

              precision    recall  f1-score   support

      Defect       0.80      0.50      0.62        16
   No Defect       0.96      0.99      0.97       184

    accuracy                           0.95       200
   macro avg       0.88      0.74      0.79       200
weighted avg       0.95      0.95      0.94       200

In [65]:
pd.crosstab(df.actual, df.model2)

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [66]:
y_pred = df.model2
y_actual = df.actual
print(classification_report(y_actual, y_pred))

              precision    recall  f1-score   support

      Defect       0.10      0.56      0.17        16
   No Defect       0.94      0.56      0.70       184

    accuracy                           0.56       200
   macro avg       0.52      0.56      0.44       200
weighted avg       0.87      0.56      0.66       200

In [67]:
pd.crosstab(df.model3, df.actual)

actual     Defect  No Defect
model3
Defect         13         86
No Defect       3         98

In [69]:
y_pred = df.model3
y_actual = df.actual
print(classification_report(y_actual, y_pred))

              precision    recall  f1-score   support

      Defect       0.13      0.81      0.23        16
   No Defect       0.97      0.53      0.69       184

    accuracy                           0.56       200
   macro avg       0.55      0.67      0.46       200
weighted avg       0.90      0.56      0.65       200

# 4.You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

### At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

### Several models have already been developed with the data, and you can find their results here.

### Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

   * In terms of accuracy, how do the various models compare to the baseline model? 1 and 4 are better than the baseline and 2 and 3 are worse than the baseline
   * Are any of the models better than the baseline? 1 and 4 are better than the baseline
   * Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend? 1 and 4 are better for dog pictures
   * Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend? 1 and 2 are better for cat pictures

In [70]:
df = pd.read_csv('gives_you_paws.csv')
df.actual.value_counts()
df['baseline'] = 'dog'
df

     actual model1 model2 model3 model4 baseline
0       cat    cat    dog    cat    dog      dog
1       dog    dog    cat    cat    dog      dog
2       dog    cat    cat    cat    dog      dog
3       dog    dog    dog    cat    dog      dog
4       cat    cat    cat    dog    dog      dog
...     ...    ...    ...    ...    ...      ...
4995    dog    dog    dog    dog    dog      dog
4996    dog    dog    cat    cat    dog      dog
4997    dog    cat    cat    dog    dog      dog
4998    cat    cat    cat    cat    dog      dog
4999    dog    dog    dog    dog    dog      dog

[5000 rows x 6 columns]

In [71]:
(df.actual == df.baseline).mean()

0.6508

In [72]:
pd.crosstab(df.actual, df.model1)

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [73]:
y_pred = df.model1
y_actual = df.actual
print(classification_report(y_actual, y_pred))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

In [74]:
pd.crosstab(df.actual, df.model2)

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [75]:
y_pred = df.model2
y_actual = df.actual
print(classification_report(y_actual, y_pred))

              precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

In [76]:
pd.crosstab(df.actual, df.model3)

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [77]:
y_pred = df.model3
y_actual = df.actual
print(classification_report(y_actual, y_pred))

              precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

In [78]:
pd.crosstab(df.actual, df.model4)

model4  cat   dog
actual
cat     603  1143
dog     144  3110

In [83]:
y_pred = df.model4
y_actual = df.actual
print(classification_report(y_actual, y_pred))

              precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000

Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

sklearn.metrics.accuracy_score
sklearn.metrics.precision_score
sklearn.metrics.recall_score
sklearn.metrics.classification_report